body{
    background-color:rgb(202, 245, 202);
    /*background-image:url("bg.jpeg");*/
    background-repeat: no-repeat;
    background-size: cover;
     margin:10px;

}
/**{
    border:solid;
}*/
.grid{
    /*margin: auto;
    width: 20%;
    border: 3px solid #73AD21;
    padding: 10px;*/
    justify-items: start;
    display:flex ;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content:space-evenly; 
    margin: 50px; 
    

 }
 .item1 { 
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     justify-content:space-evenly;
     border-radius: 4px; 
     background-color:lightgoldenrodyellow; 
     padding: 30px ; 
     margin: 30px; 
     width:300px; 
     position: relative;
}

.item2 { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-evenly;
    border-radius: 4px; 
    background-color:lightskyblue; 
    padding: 30px; 
    margin: 30px; 
    width:360px;
    position: relative; 
}
.item3 { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-evenly;
    border-radius: 4px; 
    background-color:lightcoral; 
    padding: 30px; 
    margin: 30px; 
    width:300px;
    position: relative; 
}
.item4 { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-evenly;
    border-radius: 4px; 
    background-color:thistle; 
    padding: 30px; 
    margin: 30px; 
    width:360px; 
    position: relative;
}
.item5 { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-evenly;
    border-radius: 4px; 
    background-color:lightsalmon; 
    padding: 10px; 
    margin: 30px; 
    width:300px;
    position: relative;
}
.item6 { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-evenly;
    border-radius: 4px; 
    background-color:lightpink; 
    padding: 30px; 
    margin: 30px; 
    width:360px;
    position:relative; 
}

.grid2{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-grow:1;
    padding:10px;
    margin:10px; 
}
.grid {
    position: relative;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .grid:hover .text {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

a:link{
    color:cyan;
}
a:visited{
    color:black;
}
 